/* Allgemein Body*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Allgemein Container*/
#content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

/* Login */
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

/*Email Eingabe */
input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Passwort Eingabe */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Login Button Hover */
.login-btn:hover {
    background-color: #0056b3;
}

/* Login Button Aktiv */
a {
    color: #007bff;
    text-decoration: none;
}

/* Login Button Aktiv Hover */
a:hover {
    text-decoration: underline;
}

/* Tagmodus */
body.day {
    background-color: #FFEBCD;
    color: #333;
}

/* Nachtmodus */
body.night {
    background-color: #333;
    color: #fff;
}


/* Style the tab */
.tab {
    display: flex;
    /* Verwenden von Flexbox */
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    flex-grow: 1;
    /* Jeder Button nimmt gleich viel Raum ein */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover*/
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Nachtmodus Styles für das Login-Feld */
body.night .login-container {
    background: #333;
    /* Dunkler Hintergrund für das Login-Feld */
    color: #fff;
    /* Heller Text für das Login-Feld */
}

body.night input[type="text"],
body.night input[type="password"] {
    background: #555;
    /* Dunkler Hintergrund für Eingabefelder */
    color: #fff;
    /* Heller Text für Eingabefelder */
    border: 1px solid #777;
    /* Dunkle Border für Eingabefelder */
}

body.night .login-btn {
    background-color: #0056b3;
    /* Dunklere Farbe für den Login-Button */
    color: #fff;
}

body.night a {
    color: #4da6ff;
    /* Heller Link-Text im Nachtmodus */
}

/* Dropdown Container */
.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

/* Das Button-Design */
.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
}

/* Benutzer-Icon */
.user-icon {
    height: 30px;
    /* oder eine andere passende Größe */
    width: auto;
}

/* Das Dropdown-Menü */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown-Links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Zeit das Dropdown-Menü zu an */
.dropdown-content.show {
    display: block;
}

/* Hover-Effekt für die Dropdown-Links */
.dropdown-content a:hover {
    background-color: #f1f1f1
}